 **Откройте файл с данными и изучите общую информацию** 

 Подключаем библиотеку 'pandas'.

In [ ]:
import pandas as pd

Открываем файлы датасетов.
Учтём путь загрузки.

In [3]:
try:
  calls_df = pd.read_csv("/datasets/calls.csv")
  internet_df = pd.read_csv("/datasets/internet.csv")
  messages_df = pd.read_csv("/datasets/messages.csv")
  tariffs_df = pd.read_csv("/datasets/tariffs.csv")
  users_df = pd.read_csv("/datasets/users.csv")
except:
  calls_df = pd.read_csv("calls.csv")
  internet_df = pd.read_csv("internet.csv")
  messages_df = pd.read_csv("messages.csv")
  tariffs_df = pd.read_csv("tariffs.csv")
  users_df = pd.read_csv("users.csv")

Выведем все датасеты на экран по 5 строк.

In [4]:
calls_df.head()

       id   call_date  duration  user_id
0  1000_0  2018-07-25      0.00     1000
1  1000_1  2018-08-17      0.00     1000
2  1000_2  2018-06-11      2.85     1000
3  1000_3  2018-09-21     13.80     1000
4  1000_4  2018-12-15      5.18     1000

In [5]:
internet_df.head()

   Unnamed: 0      id  mb_used session_date  user_id
0           0  1000_0   112.95   2018-11-25     1000
1           1  1000_1  1052.81   2018-09-07     1000
2           2  1000_2  1197.26   2018-06-25     1000
3           3  1000_3   550.27   2018-08-22     1000
4           4  1000_4   302.56   2018-09-24     1000

In [6]:
messages_df.head()

       id message_date  user_id
0  1000_0   2018-06-27     1000
1  1000_1   2018-10-08     1000
2  1000_2   2018-08-04     1000
3  1000_3   2018-06-16     1000
4  1000_4   2018-12-05     1000

In [8]:
tariffs_df.head()

,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,tariff_name
0,50,15360,500,550,200,3,3,smart
1,1000,30720,3000,1950,150,1,1,ultra

In [9]:
users_df.head()

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff
0,1000,52,NaN,Краснодар,Рафаил,Верещагин,2018-05-25,ultra
1,1001,41,NaN,Москва,Иван,Ежов,2018-11-01,smart
2,1002,59,NaN,Стерлитамак,Евгений,Абрамович,2018-06-17,smart
3,1003,23,NaN,Москва,Белла,Белякова,2018-08-17,ultra
4,1004,68,NaN,Новокузнецк,Татьяна,Авдеенко,2018-05-14,ultra