<a href="https://colab.research.google.com/github/kozyreviva/Data_Science/blob/main/Air_Indicators/climat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
# pip install dataprep

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dataprep
  Downloading dataprep-0.4.5-py3-none-any.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 42.8 MB/s eta 0:00:00
Collecting aiohttp<4.0,>=3.6 (from dataprep)
  Downloading aiohttp-3.8.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 59.4 MB/s eta 0:00:00
Requirement already satisfied: bokeh<3,>=2 in /usr/local/lib/python3.10/dist-packages (from dataprep) (2.4.3)
Requirement already satisfied: dask[array,dataframe,delayed]>=2022.3.0 in /usr/local/lib/python3.10/dist-packages (from dataprep) (2022.12.1)
Requirement already satisfied: flask<3,>=2 in /usr/local/lib/python3.10/dist-packages (from dataprep) (2.2.4)
Collecting flask_cors<4.0.0,>=3.0.10 (from dataprep)
  Downloading Flask_Cors-3.0.10-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: ipywidgets<8.0,>=7.5 in /usr/local/lib/python3.10/dist-packages (from dataprep) (7.7.1)
Collecting jinja2<3.1,>=3.0 (from dataprep)
  Downloading Jinja2-3.0.3-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.6/133.6 kB 13.8 MB/s eta 0:00:00
Collecting jsonpath-ng<2.0,>=1.5 (from dataprep)
  Downloading jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Collecting metaphone<0.7,>=0.6 (from dataprep)
  Downloading Metaphone-0.6.tar.gz (14 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: nltk<4.0.0,>=3.6.7 in /usr/local/lib/python3.10/dist-packages (from dataprep) (3.8.1)
Requirement already satisfied: numpy<2.0,>=1.21 in /usr/local/lib/python3.10/dist-packages (from dataprep) (1.22.4)
Requirement already satisfied: pandas<2.0,>=1.1 in /usr/local/lib/python3.10/dist-packages (from dataprep) (1.5.3)
Requirement already satisfied: pydantic<2.0,>=1.6 in /usr/local/lib/python3.10/dist-packages (from dataprep) (1.10.7)
Requirement already satisfied: pydot<2.0.0,>=1.4.2 in /usr/local/lib/python3.10/dist-packages (from dataprep) (1.4.2)
Collecting python-crfsuite==0.9.8 (from dataprep)
  Downloading python_crfsuite-0.9.8-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 60.0 MB/s eta 0:00:00
Collecting python-stdnum<2.0,>=1.16 (from dataprep)
  Downloading python_stdnum-1.18-py2.py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 61.3 MB/s eta 0:00:00
Collecting rapidfuzz<3.0.0,>=2.1.2 (from dataprep)
  Downloading rapidfuzz-2.15.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 73.2 MB/s eta 0:00:00
Collecting regex<2022.0.0,>=2021.8.3 (from dataprep)
  Downloading regex-2021.11.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (764 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 764.0/764.0 kB 16.8 MB/s eta 0:00:00
Requirement already satisfied: scipy<2.0,>=1.8 in /usr/local/lib/python3.10/dist-packages (from dataprep) (1.10.1)
Collecting sqlalchemy==1.3.24 (from dataprep)
  Downloading SQLAlchemy-1.3.24.tar.gz (6.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.4/6.4 MB 36.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: tqdm<5.0,>=4.48 in /usr/local/lib/python3.10/dist-packages (from dataprep) (4.65.0)
Collecting varname<0.9.0,>=0.8.1 (from dataprep)
  Downloading varname-0.8.3-py3-none-any.whl (21 kB)
Requirement already satisfied: wordcloud<2.0,>=1.8 in /usr/local/lib/python3.10/dist-packages (from dataprep) (1.8.2.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.6->dataprep) (2.0.12)
Collecting multidict<7.0,>=4.5 (from aiohttp<4.0,>=3.6->dataprep)
  Downloading multidict-6.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 12.8 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3 (from aiohttp<4.0,>=3.6->dataprep)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0 (from aiohttp<4.0,>=3.6->dataprep)
  Downloading yarl-1.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (268 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 21.8 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1 (from aiohttp<4.0,>=3.6->dataprep)
  Downloading frozenlist-1.3.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 15.4 MB/s eta 0:00:00
Collecting aiosignal>=1.1.2 (from aiohttp<4.0,>=3.6->dataprep)
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.10/dist-packages (from bokeh<3,>=2->dataprep) (23.1)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.10/dist-packages (from bokeh<3,>=2->dataprep) (8.4.0)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.10/dist-packages (from bokeh<3,>=2->dataprep) (6.0)
Requirement already satisfied: tornado>=5.1 in /usr/local/lib/python3.10/dist-packages (from bokeh<3,>=2->dataprep) (6.3.1)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.10/dist-packages (from bokeh<3,>=2->dataprep) (4.5.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.10/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (8.1.3)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2.2.1)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (2023.4.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.10/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.4.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.10/dist-packages (from dask[array,dataframe,delayed]>=2022.3.0->dataprep) (0.12.0)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from flask<3,>=2->dataprep) (2.3.0)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from flask<3,>=2->dataprep) (2.1.2)
Requirement already satisfied: Six in /usr/local/lib/python3.10/dist-packages (from flask_cors<4.0.0,>=3.0.10->dataprep) (1.16.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.5.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (5.7.1)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.6.4)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (7.34.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ipywidgets<8.0,>=7.5->dataprep) (3.0.7)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.1,>=3.0->dataprep) (2.1.2)
Collecting ply (from jsonpath-ng<2.0,>=1.5->dataprep)
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 5.1 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from jsonpath-ng<2.0,>=1.5->dataprep) (4.4.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk<4.0.0,>=3.6.7->dataprep) (1.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0,>=1.1->dataprep) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0,>=1.1->dataprep) (2022.7.1)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.10/dist-packages (from pydot<2.0.0,>=1.4.2->dataprep) (3.0.9)
Collecting asttokens<3.0.0,>=2.0.0 (from varname<0.9.0,>=0.8.1->dataprep)
  Downloading asttokens-2.2.1-py2.py3-none-any.whl (26 kB)
Collecting executing<0.9.0,>=0.8.3 (from varname<0.9.0,>=0.8.1->dataprep)
  Downloading executing-0.8.3-py2.py3-none-any.whl (16 kB)
Collecting pure_eval<1.0.0 (from varname<0.9.0,>=0.8.1->dataprep)
  Downloading pure_eval-0.2.2-py3-none-any.whl (11 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from wordcloud<2.0,>=1.8->dataprep) (3.7.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel>=4.5.1->ipywidgets<8.0,>=7.5->dataprep) (6.1.12)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (67.7.2)
Collecting jedi>=0.16 (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 68.1 MB/s eta 0:00:00
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (4.8.0)
Requirement already satisfied: locket in /usr/local/lib/python3.10/dist-packages (from partd>=0.3.10->dask[array,dataframe,delayed]>=2022.3.0->dataprep) (1.0.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.10/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (6.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.0->aiohttp<4.0,>=3.6->dataprep) (3.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->wordcloud<2.0,>=1.8->dataprep) (1.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.3)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (23.2.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (21.3.0)
Requirement already satisfied: jupyter-core>=4.6.1 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.3.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (5.8.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (6.5.4)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.6)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.17.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.10/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.16.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.6)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core>=4.6.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (3.3.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.10/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (21.2.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.11.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (6.0.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.4)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.2.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.7.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.5.0)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.10/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.2.1)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.10/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (2.16.3)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.10/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (4.3.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.10/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.19.3)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (2.4.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (0.5.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets<8.0,>=7.5->dataprep) (2.21)
Building wheels for collected packages: sqlalchemy, metaphone
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.24-cp310-cp310-linux_x86_64.whl size=1268247 sha256=fe74e65a28ee82c21c1b9187f22a00175b0f3149bef67e1683ec38505609879f
  Stored in directory: /root/.cache/pip/wheels/27/51/b3/3481e88d5a5ba95dd4aafedc9316774d941c4ba61cfb93add8
  Building wheel for metaphone (setup.py) ... done
  Created wheel for metaphone: filename=Metaphone-0.6-py3-none-any.whl size=13902 sha256=ef4c6b38a8ff0e6a1fccef1a29e529d2cae0f047fbf4e073044fdbcf93b37d81
  Stored in directory: /root/.cache/pip/wheels/23/dd/1d/6cdd346605db62bde1f60954155e9ce48f4681c243f265b704
Successfully built sqlalchemy metaphone
Installing collected packages: regex, python-stdnum, python-crfsuite, pure_eval, ply, metaphone, executing, sqlalchemy, rapidfuzz, multidict, jsonpath-ng, jinja2, jedi, frozenlist, async-timeout, asttokens, yarl, varname, aiosignal, flask_cors, aiohttp, dataprep
  Attempting uninstall: regex
    Found existing installation: regex 2022.10.31
    Uninstalling regex-2022.10.31:
      Successfully uninstalled regex-2022.10.31
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
  Attempting uninstall: jinja2
    Found existing installation: Jinja2 3.1.2
    Uninstalling Jinja2-3.1.2:
      Successfully uninstalled Jinja2-3.1.2
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 asttokens-2.2.1 async-timeout-4.0.2 dataprep-0.4.5 executing-0.8.3 flask_cors-3.0.10 frozenlist-1.3.3 jedi-0.18.2 jinja2-3.0.3 jsonpath-ng-1.5.3 metaphone-0.6 multidict-6.0.4 ply-3.11 pure_eval-0.2.2 python-crfsuite-0.9.8 python-stdnum-1.18 rapidfuzz-2.15.1 regex-2021.11.10 sqlalchemy-1.3.24 varname-0.8.3 yarl-1.9.2

In [54]:
# import libraris
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from dataprep.clean import clean_country

In [2]:
# read datasets
df_n2o = pd.read_csv("N2O_Emissions.csv")
df_co2 = pd.read_csv("CO2_Emissions.csv")
df_so2 = pd.read_csv("SO2_emissions.csv")

In [3]:
df_n2o.head()

,Country ID,Country,"Time series - Total N2O emissions, in 1000 tonnes of CO2 equivalent",Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,"N2O emissions, latest year",% change since 1990,"N2O emissions \nper capita, \nlatest year"
0,NaN,NaN,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,1000 tonnes of \nCO2 equivalent,%,kg
1,4.0,Afghanistan,...,...,...,...,...,...,...,...,...,"19,610.00",...,...,...,...,...,2013,"19,610.00",...,0.608
2,8.0,Albania,96.10,136.40,108.50,96.10,96.10,93.00,83.70,77.50,...,...,...,...,...,...,...,2009,120.96,25.87,0.041
3,12.0,Algeria,...,...,...,...,"9,300.00",...,...,...,...,...,...,...,...,...,...,2000,"6,500.70",...,0.209
4,24.0,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,"13,869.40",...,0.714

In [4]:
def new_col_name(data):
   colnames = list(data.iloc[0])
   colnames[0] = 'country_id'
   colnames[1] = 'country'
   colnames[-3:] = data.columns[-3:]
   data.columns = colnames
   return  data.drop(0)

In [5]:
df_n2o = new_col_name(df_n2o)

In [6]:
df_n2o.head(10)

,country_id,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,"N2O emissions, latest year",% change since 1990,"N2O emissions \nper capita, \nlatest year"
1,4.0,Afghanistan,...,...,...,...,...,...,...,...,...,"19,610.00",...,...,...,...,...,2013,"19,610.00",...,0.608
2,8.0,Albania,96.10,136.40,108.50,96.10,96.10,93.00,83.70,77.50,...,...,...,...,...,...,...,2009,120.96,25.87,0.041
3,12.0,Algeria,...,...,...,...,"9,300.00",...,...,...,...,...,...,...,...,...,...,2000,"6,500.70",...,0.209
4,24.0,Angola,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2005,"13,869.40",...,0.714
5,28.0,Antigua and Barbuda,1.58,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2000,83.70,"5,194.12",1.101
6,32.0,Argentina,"51,823.68",...,...,...,"56,689.61",...,...,"62,089.62",...,...,...,...,...,...,...,2012,"73,154.41",41.16,1.752
7,51.0,Armenia,169.57,...,...,...,...,...,...,...,...,...,...,...,...,...,...,2010,484.07,185.47,0.168
8,36.0,Australia,53.48,52.21,51.57,53.14,54.75,52.30,56.55,59.22,...,65.95,67.44,65.63,65.66,71.36,67.50,2018,67.50,26.20,0.003
9,40.0,Austria,14.50,14.61,13.98,14.08,13.92,14.24,14.34,14.43,...,11.53,11.81,11.84,12.15,11.95,11.83,2018,11.83,-18.39,0.001
10,31.0,Azerbaijan,"3,772.70","1,925.10","2,132.80","1,701.90","1,429.10","1,295.80","1,308.20","1,515.90",...,"2,767.12",...,...,...,...,...,2013,"2,767.12",-26.65,0.295

In [7]:
def replace_to_na(data):
    return data.replace('...', np.NaN)

In [8]:
df_n2o = replace_to_na(df_n2o)

In [9]:
df_n2o.head()

,country_id,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,"N2O emissions, latest year",% change since 1990,"N2O emissions \nper capita, \nlatest year"
1,4.0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"19,610.00",NaN,NaN,NaN,NaN,NaN,2013,"19,610.00",NaN,0.608
2,8.0,Albania,96.10,136.40,108.50,96.10,96.10,93.00,83.70,77.50,...,NaN,NaN,NaN,NaN,NaN,NaN,2009,120.96,25.87,0.041
3,12.0,Algeria,NaN,NaN,NaN,NaN,"9,300.00",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000,"6,500.70",NaN,0.209
4,24.0,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2005,"13,869.40",NaN,0.714
5,28.0,Antigua and Barbuda,1.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000,83.70,"5,194.12",1.101

In [10]:
df_n2o_dropna_percent = df_n2o.dropna(subset = "% change since 1990").copy()
df_n2o_dropna_percent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 2 to 182
Data columns (total 35 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   country_id                               85 non-null     float64
 1   country                                  85 non-null     object
 2   1990                                     85 non-null     object
 3   1991                                     61 non-null     object
 4   1992                                     62 non-null     object
 5   1993                                     62 non-null     object
 6   1994                                     76 non-null     object
 7   1995                                     60 non-null     object
 8   1996                                     62 non-null     object
 9   1997                                     62 non-null     object
 10  1998                                     64 non-null     object
 11  1999                                     58 non-null     object
 12  2000                                     78 non-null     object
 13  2001                                     59 non-null     object
 14  2002                                     62 non-null     object
 15  2003                                     58 non-null     object
 16  2004                                     62 non-null     object
 17  2005                                     61 non-null     object
 18  2006                                     61 non-null     object
 19  2007                                     56 non-null     object
 20  2008                                     58 non-null     object
 21  2009                                     56 non-null     object
 22  2010                                     61 non-null     object
 23  2011                                     54 non-null     object
 24  2012                                     56 non-null     object
 25  2013                                     52 non-null     object
 26  2014                                     47 non-null     object
 27  2015                                     45 non-null     object
 28  2016                                     46 non-null     object
 29  2017                                     44 non-null     object
 30  2018                                     43 non-null     object
 31  Latest Year                              85 non-null     object
 32  N2O emissions, latest year               85 non-null     object
 33  % change since 1990                      85 non-null     object
 34  N2O emissions
per capita,
latest year  85 non-null     object
dtypes: float64(1), object(34)
memory usage: 23.9+ KB

In [11]:
df_n2o_dropna_percent.iloc[:,2:31] = df_n2o_dropna_percent.iloc[:,2:31].replace(to_replace = ',', value = '', regex = True)
df_n2o_dropna_percent.iloc[:,2:31] = df_n2o_dropna_percent.iloc[:,2:31].astype(float)

<ipython-input-11-6cf00a38800a>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_n2o_dropna_percent.iloc[:,2:31] = df_n2o_dropna_percent.iloc[:,2:31].astype(float)

In [12]:
df_n2o_dropna_percent["Latest Year"] = df_n2o_dropna_percent['Latest Year'].astype(int)
df_n2o_dropna_percent["% change since 1990"] = df_n2o_dropna_percent['% change since 1990'].replace(to_replace = ',', value = '', regex = True)
df_n2o_dropna_percent["% change since 1990"] = df_n2o_dropna_percent['% change since 1990'].astype(float)
df_n2o_dropna_percent["N2O emissions, latest year"] = df_n2o_dropna_percent['% change since 1990'].replace(to_replace = ',', value = '', regex = True)
df_n2o_dropna_percent["N2O emissions, latest year"] = df_n2o_dropna_percent['N2O emissions, latest year'].astype(float)
df_n2o_dropna_percent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85 entries, 2 to 182
Data columns (total 35 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   country_id                               85 non-null     float64
 1   country                                  85 non-null     object
 2   1990                                     85 non-null     float64
 3   1991                                     61 non-null     float64
 4   1992                                     62 non-null     float64
 5   1993                                     62 non-null     float64
 6   1994                                     76 non-null     float64
 7   1995                                     60 non-null     float64
 8   1996                                     62 non-null     float64
 9   1997                                     62 non-null     float64
 10  1998                                     64 non-null     float64
 11  1999                                     58 non-null     float64
 12  2000                                     78 non-null     float64
 13  2001                                     59 non-null     float64
 14  2002                                     62 non-null     float64
 15  2003                                     58 non-null     float64
 16  2004                                     62 non-null     float64
 17  2005                                     61 non-null     float64
 18  2006                                     61 non-null     float64
 19  2007                                     56 non-null     float64
 20  2008                                     58 non-null     float64
 21  2009                                     56 non-null     float64
 22  2010                                     61 non-null     float64
 23  2011                                     54 non-null     float64
 24  2012                                     56 non-null     float64
 25  2013                                     52 non-null     float64
 26  2014                                     47 non-null     float64
 27  2015                                     45 non-null     float64
 28  2016                                     46 non-null     float64
 29  2017                                     44 non-null     float64
 30  2018                                     43 non-null     float64
 31  Latest Year                              85 non-null     int64
 32  N2O emissions, latest year               85 non-null     float64
 33  % change since 1990                      85 non-null     float64
 34  N2O emissions
per capita,
latest year  85 non-null     object
dtypes: float64(32), int64(1), object(2)
memory usage: 23.9+ KB

In [13]:
df_n2o_dropna_percent.head(10)

,country_id,country,1990,1991,1992,1993,1994,1995,1996,1997,...,2013,2014,2015,2016,2017,2018,Latest Year,"N2O emissions, latest year",% change since 1990,"N2O emissions \nper capita, \nlatest year"
2,8.0,Albania,96.10,136.40,108.50,96.10,96.10,93.00,83.70,77.50,...,NaN,NaN,NaN,NaN,NaN,NaN,2009,25.87,25.87,0.041
5,28.0,Antigua and Barbuda,1.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000,5194.12,5194.12,1.101
6,32.0,Argentina,51823.68,NaN,NaN,NaN,56689.61,NaN,NaN,62089.62,...,NaN,NaN,NaN,NaN,NaN,NaN,2012,41.16,41.16,1.752
7,51.0,Armenia,169.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2010,185.47,185.47,0.168
8,36.0,Australia,53.48,52.21,51.57,53.14,54.75,52.30,56.55,59.22,...,65.95,67.44,65.63,65.66,71.36,67.50,2018,26.20,26.20,0.003
9,40.0,Austria,14.50,14.61,13.98,14.08,13.92,14.24,14.34,14.43,...,11.53,11.81,11.84,12.15,11.95,11.83,2018,-18.39,-18.39,0.001
10,31.0,Azerbaijan,3772.70,1925.10,2132.80,1701.90,1429.10,1295.80,1308.20,1515.90,...,2767.12,NaN,NaN,NaN,NaN,NaN,2013,-26.65,-26.65,0.295
15,112.0,Belarus,55.77,54.20,48.47,48.96,41.79,38.96,41.68,42.99,...,48.21,47.31,46.35,46.89,48.44,47.05,2018,-15.64,-15.64,0.005
16,56.0,Belgium,33.80,33.36,32.43,33.35,34.71,36.33,37.80,37.05,...,20.63,20.74,20.25,19.34,20.06,19.14,2018,-43.39,-43.39,0.002
20,68.0,Bolivia (Plurinational State of),576.60,NaN,NaN,NaN,858.70,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2004,140.53,140.53,0.153

In [67]:
df_n2o_country_percent = (df_n2o_dropna_percent[['country','% change since 1990']].query("`% change since 1990` >= 100")
                                                                                  .sort_values('% change since 1990',ascending = False)).reset_index(drop = True).copy()
df_n2o_country_alpha = clean_country(df_n2o_country_percent, "country", output_format = 'alpha-3')
df_n2o_country_alpha = df_n2o_country_alpha.rename(columns = {'country_clean':'iso_alpha'})
df_n2o_country_alpha.head()

/usr/local/lib/python3.10/dist-packages/dask/dataframe/core.py:6751: FutureWarning:

Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.

Country Cleaning Report:
	13 values cleaned (100.0%)
Result contains 13 (100.0%) values in the correct format and 0 null values (0.0%)

                            country  % change since 1990 iso_alpha
0  Lao People's Democratic Republic              6625.00       LAO
1               Antigua and Barbuda              5194.12       ATG
2                          Mongolia              1380.00       MNG
3                        Costa Rica              1302.51       CRI
4                          Ethiopia               678.19       ETH

In [59]:
fig = px.bar(df_n2o_country_percent, x = "country", y = "% change since 1990")
fig.show()

In [73]:
df = px.data.gapminder()
fig = px.scatter_geo(df_n2o_country_alpha,
                     locations = "iso_alpha",
                     size = "% change since 1990",
                     projection="natural earth",
                     color= "country")
fig.show()

In [24]:
df_n2o_dropna_percent.columns[2:31]

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018'],
      dtype='object')

In [28]:
df_n2o_dropna_percent.pivot_table(index = ['country'], values = df_n2o_dropna_percent.iloc[:,2:30])

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,,,,,,,,,,,
Albania,96.10,136.40,108.50,96.10,96.10,93.00,83.70,77.50,74.40,77.50,...,120.98,120.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Antigua and Barbuda,1.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,51823.68,NaN,NaN,NaN,56689.61,NaN,NaN,62089.62,NaN,NaN,...,NaN,NaN,75178.82,NaN,73154.41,NaN,NaN,NaN,NaN,NaN
Armenia,169.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,484.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Australia,53.48,52.21,51.57,53.14,54.75,52.30,56.55,59.22,60.04,61.70,...,65.21,66.51,66.15,68.72,69.87,65.95,67.44,65.63,65.66,71.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United Kingdom of Great Britain and Northern Ireland,155.07,155.80,139.32,125.11,127.25,123.02,122.99,123.84,123.71,91.75,...,70.53,65.66,66.80,64.16,63.70,63.47,65.46,63.80,63.56,64.79
United Republic of Tanzania,15082.65,NaN,NaN,NaN,14376.25,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United States of America,1458.47,1425.60,1423.99,1518.02,1468.32,1507.58,1546.50,1498.87,1499.96,1464.43,...,1421.63,1417.66,1447.73,1415.62,1316.32,1473.74,1507.60,1489.33,1429.76,1413.62
Uruguay,7254.00,NaN,NaN,NaN,7812.00,NaN,NaN,NaN,10594.47,NaN,...,11873.93,NaN,8466.72,NaN,9768.10,NaN,9202.07,NaN,8575.65,8823.53
Uzbekistan,12840.80,13354.70,13329.70,12747.60,11991.10,11428.40,11331.20,11132.00,11195.40,10858.40,...,9539.30,9989.20,10479.60,10966.90,11203.70,NaN,NaN,NaN,NaN,NaN

In [ ]:
# # Creating the visualization
# fig = px.choropleth(df_n2o_dropna_percent,
#                     locations="country",
#                     locationmode = "country names",
#                     color="PercentOfBaseline",
#                     hover_name="Country",
#                     animation_frame=""
#                    )
# fig.update_layout(
#     title_text = 'Animated_map',
#     title_x = 0.5,
#     geo=dict(
#         showframe = False,
#         showcoastlines = False,
#     ))